hg+https://bitbucket.org/wkornewald/django-nonrel
django-autoslug==1.4.1
hg+https://bitbucket.org/wkornewald/django-dbindexer
git+https://github.com/django-mongodb-engine/mongodb-engine
hg+https://bitbucket.org/wkornewald/djangotoolbox
pymongo==2.0.1
