{%extends "base.html"%}


{%block content%}
<div class="row">
	<div class="span10 offset5">
<br>
	<h2>What is this?</h2>
	<p>
	<a href="/">StraightOuttaZuccotti.org</a> is a people-powered forum to discuss the Occupy Wall Street movement on an personal level. We aim to find out what’s important to the participants. </p>

	<h2>Why?</h2>
	<p>
	People outside OWS seem to spend a lot of time wondering about what people at OWS are thinking . We want to create a place for individuals at OWS to voice those thoughts, and for protesters and observers alike to discuss, debate and weigh in on these ideas.
	</p>
	<h2>How does this work? </h2>
	<p>
		We've placed an erasable whiteboard near the library at Occupy Wall Street, with a prompt that reads "What do you think?", some markers, a disposable camera, and an <a href="mailto:sozuccotti@gmail.com
	 ">email address</a>.
	</p>
	<p> This site is a collection of images taken of responses on the whiteboard. Once posted here, anyone can comment and weigh in on those responses.
	</p>


	<br><br><br><br><br><br><br><br><br><br>

	</div>
</div>

{%endblock%}

