{%extends "base.html"%}


{%block content%}
<h2>What is OWSvoices?</h2>
<p>
OWSvoices is a people-powered forum to discuss the Occupy Wall Street movement on an personal level. We aim to find out what’s important to you. </p>

<h2>Why?</h2>
<p>
People outside  OWS seem to spend a lot of time wondering about the goals of OWS. We want to create a place for individuals at OWS to voice those goals, and for protesters and observers alike to discuss, debate and weigh in on their priorities. (If that priority is the movement itself, that's great too.)
</p>
<h2>How does this work? </h2>
<p>
Only those actually present at OWS can post their goals for now. We’re hoping this constraint will provide us with interesting responses and minimize spam and flaming.
</p><p>
We're starting in New York, and passing paper forms around Zucotti Park. If you're at a protest elsewhere, please blog and/or tweet your goal with the hashtag #OWSVoices. All we need is some sort of verification you’re there - geotag your tweet, send us a picture. Get creative.
</p><p>
Once you submit a goal, it will go onto our homepage. There, anyone can weigh in: hands up, middle, or hands down on a goal, and defend their position. 
</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

{%endblock%}

