{%extends "base.html"%}

{%block content%}

<div class="row">
	<div class="postList">
	
		{% for post in post_list %}
			<div class="post">
				<div class="row">
					
					<div class="hands span5" style="margin-top: 300px;">
						<div class="row">
						  	<div class="alert-message block-message success span1 stub"> <b>{{post.hands_up}}</b> Hands Up</div>
						  	<div class="alert-message block-message info span1 stub"> <b>{{post.hands_middle}}</b> Hands Middle</div>
						  	<div class="alert-message block-message error span1 stub"> <b>{{post.hands_down}}</b> Hands Down</div>
						</div>
					
						<div class="row">
							<a href="{% url post_detail post.slug %}#comments" class="btn span4  gocomment">What do <b>you</b> think?</a>	  	
						</div>
					</div> {# /hands #}
					
			  		<div class="pbody span11">
						<a href="{% url post_detail post.slug %}"><img src='/media/{{post.photo}}' class='photo' ></a>
						{# <p>{{post.text}}</p><br> #}
						
					</div>
			
				</div>
			</div> {# /post #}
			<hr>
			{%endfor%}
	</div>
</div>{# /row #}







{%endblock%}